<div
  class="from-aquila-50 via-aquila-400 to-aquila-900 grid h-screen grid-cols-1 grid-rows-12 bg-gradient-to-b"
>
  <!-- Topbar here -->
  <!-- <div
    class="row-span-2 grid h-full w-full grid-cols-12 bg-[linear-gradient(5deg,theme(colors.aquila.50/_100%)_0%,theme(colors.aquila.50/_0%)_5%),linear-gradient(-5deg,theme(colors.aquila.50/_100%)_0%,theme(colors.aquila.50/_0%)_5%),linear-gradient(0deg,theme(colors.aquilapink.50/_25%)_0%,theme(colors.aquilapink.900/_10%)_1%,theme(colors.aquila.50/_0%)_15%)]"
  > -->
  <div
    class="row-span-2 row-start-1 grid h-full w-full grid-cols-1 grid-rows-2"
  >
    <div class="z-48 col-start-1 row-span-2 row-start-1 h-full w-full">
      <router-outlet name="Topbar"></router-outlet>
    </div>
    <div class="z-49 col-start-1 row-span-2 row-start-1 h-full w-full">
      <app-top-nav-svg class="h-full w-full"> </app-top-nav-svg>
    </div>
  </div>

  <!-- Main container here -->
  <div class="z-50 row-span-10 h-full w-full p-8">
    <router-outlet name="Maincontainer"></router-outlet>
  </div>
</div>
