<div class="h-full w-full bg-transparent">
  <div
    class="font-['SF Pro Display']whitespace-normal grid h-full w-full place-items-center overflow-hidden bg-transparent text-xs font-extrabold leading-snug text-white sm:text-xs md:text-sm lg:text-base xl:text-lg"
  >
    <div class="h-1">AquilaCode</div>
    <div
      [scrollTop]="scrollToTop"
      class="no-scrollbar h-1/2 w-1/2 overflow-y-scroll text-xs text-white sm:text-xs md:text-sm lg:text-base xl:text-lg"
    >
      If you could traverse the vast expanse of our universe, where would your
      heart take you? Would it be to the shimmering nebulas where stars are born
      in cosmic splendor, or perhaps to the mysterious, shadowed realms of
      uncharted planets, whispering ancient secrets to those who dare to listen?
      Imagine the swirling colors of distant galaxies painting the sky, the
      ethereal beauty of a thousand worlds yet to be discovered. Where does your
      soul yearn to wander in this infinite tapestry of wonder?
    </div>
  </div>
</div>
