<main id="app">
  <phaser-game />
  <div class="z20 fixed right-16 top-96 h-2/6 w-2/6">
    <div>
      <button
        class="button"
        (click)="changeScene()"
      >
        Change Scene
      </button>
    </div>
    <div>
      <button
        class="button"
        [disabled]="canMoveSprite"
        (click)="moveSprite()"
      >
        Toggle Movement
      </button>
    </div>
    <div class="spritePosition bg-aquila-400">
      Sprite Position:
      <pre>{{ spritePosition | json }}</pre>
    </div>
    <div>
      <button
        class="button"
        (click)="addSprite()"
      >
        Add New Sprite
      </button>
    </div>
  </div>
</main>
