<main
  id="app"
  class="h-full w-full border-8 border-blue-400"
>
  <app-aquila-phaser-game> </app-aquila-phaser-game>
  <app-aquila-socket-test></app-aquila-socket-test>
  <div class="z20 fixed right-0 top-0 h-1/6 w-1/6 bg-blue-700">
    <div>
      <button
        class="button"
        (click)="changeScene()"
      >
        Change Scene
      </button>
    </div>
    <div>
      <button
        class="button"
        [disabled]="canMoveSprite"
        (click)="moveSprite()"
      >
        Toggle Movement
      </button>
    </div>
    <div class="spritePosition bg-aquila-400">
      Sprite Position:
      <pre>{{ spritePosition | json }}</pre>
    </div>
    <div>
      <button
        class="button"
        (click)="addSprite()"
      >
        Add New Sprite
      </button>
    </div>
  </div>
</main>
